body {
    background-image: url("default");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    background-attachment: fixed;
}
body.bg-home {
    background-image: url("./images/Acceuil_BG.png");
}
body.bg-sketch {
    background-image: url("./images/Portfolio_BG.png");
}
body.bg-tattoo {
    background-image: url("./images/cat_banner.jpg");
}
body.bg-link {
    background-image: url("./images/Contacter_BG.png");
}

.img-blur-border {
    position: relative;
    border-radius: 25px; 
    box-shadow: 0 0 40px rgba(0, 0, 0, 50);
}
